<<<<<<< HEAD
<!--# Austin Vern Songer-->

<!DOCTYPE html>
<html>
<head>
  <title>Recipefinder</title>
=======
<!DOCTYPE html>
<html>
<head>
  <title>Recipefinder - Find yours today!</title>
>>>>>>> c110d90a6d5ce8237fe88f45cc16b769ad03113a
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<<<<<<< HEAD
<%= yield %>
<p>Powered By Food2Fork.com</p>
=======
	<header>
		<h1>RecipeFinder</h1>
	</header>

	<%= yield %>

	<footer class="footer">
		<p>Powered By Food2Fork.com</p>
	</footer>

>>>>>>> c110d90a6d5ce8237fe88f45cc16b769ad03113a
</body>
</html>
